.image-container {
    width: 40%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.image-container * {
    margin: auto;
}

.image-container img {
    width: 100%;
}

.buttons-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.buttons-wrapper button {
    width: 100%;
}

.logo-mockups-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    /*justify-items: center;*/
    justify-content: center;
    width: 80%;
    margin: 0 auto 20px;
}

.logo-mockups-container img {
    width: 40%;
}

@media (max-width: 767px) {
    .image-container {
        width: 90%;
    }

    .logo-mockups-container {
        flex-direction: column;
    }

    .logo-mockups-container img {
        width: 80%;
    }
}
