.title-form-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.form {
    margin: auto;
}

.hidden {
    display: none !important;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.range-slider__tooltip {
    position: unset;
    width: 60%;
    margin: auto;
}

.range-slider {
    width: 60%;
    display: block;
    margin: auto;
}
